<header
  class="sticky inset-x-0 top-0 z-50 bg-white/80 dark:bg-gray-900/80 backdrop-blur navbar shadow-md shadow-gray-600/5"
>
  <nav
    class="flex items-center justify-between p-6 lg:px-8"
    aria-label="Global navigation"
  >
    <div class="flex lg:flex-1">
      <a routerLink="/" class="-m-1.5 p-1.5">
        <!-- TODO: add logo -->
        <img
          class="h-8 w-auto"
          src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
          alt=""
        />
      </a>
    </div>
    <div class="flex gap-x-12">
      <a routerLink="/" class="text-sm font-semibold leading-6 text-gray-900">
        Home
      </a>
      <a
        routerLink="/cocktails"
        class="text-sm font-semibold leading-6 text-gray-900"
        >All cocktails
      </a>
      <a
        routerLink="/about"
        class="text-sm font-semibold leading-6 text-gray-900"
      >
        About
      </a>
    </div>
  </nav>
</header>
