<header
  class="sticky inset-x-0 top-0 z-50 bg-white/50 dark:bg-gray-900/80 backdrop-blur navbar shadow-md shadow-gray-600/5"
>
  <nav class="flex items-center justify-between" aria-label="Global navigation">
    <div class="flex lg:flex-1">
      <a routerLink="/" class="pl-6">
        <!-- TODO: add logo -->
        <img class="h-20 w-auto" src="assets/fake-logo.png" alt="logo" />
      </a>
    </div>
    <div class="flex gap-x-12 p-6 lg:px-8">
      <a routerLink="/" class="text-sm font-semibold leading-6 text-gray-900">
        Home
      </a>
      <a
        routerLink="/cocktails"
        class="text-sm font-semibold leading-6 text-gray-900"
        >All cocktails
      </a>
      <a
        routerLink="/about"
        class="text-sm font-semibold leading-6 text-gray-900"
      >
        About
      </a>
    </div>
  </nav>
</header>
